/* components/BackgroundSlider.css */
.background-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transform: scale(1);
  filter: brightness(1);
}

.bg-image.fade-in {
  animation: fadeInAnim 1s forwards;
}

.bg-image.fade-out {
  animation: fadeOutAnim 1s forwards;
}

@keyframes fadeInAnim {
  0% {
    opacity: 0;
    transform: scale(1.05);
    filter: brightness(2);
    /* 先亮白 */
  }

  100% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1);
    /* 恢复正常 */
  }
}

@keyframes fadeOutAnim {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.05);
    filter: brightness(2);
    /* 白化淡出 */
  }
}